* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right, rgb(0, 153, 255), rgb(198, 221, 228));
    overflow-y: hidden;

}

h1 {
    background-color: white;
    font-size: 5vw;
    text-align: center;
    margin-top: 1%;
    letter-spacing: 5px;
    text-transform: uppercase;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.592);
}

.main {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}

#box {
    position: relative;
    width: 70vw;
    height: 40vw;
    border-style: 0 0 5px gray;
    background-color: #f8f8f8;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    text-transform: capitalize;

    padding: 1%;
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.794);

}

#box h2 {
    margin-top: 5%;
    font-size: 3vw;
}

.options {
    position: relative;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 5%;

    font-size: 2vw;

}

button {
    width: 90%;
    padding: 1vh;
    font-size: 2vw;
    background-image: linear-gradient(to right, rgb(0, 153, 255), rgb(198, 221, 228));
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 0;
    letter-spacing: 2px;
    margin-top: 5%;

}

button:hover {
    background-image: linear-gradient(to right, rgb(198, 221, 228), rgb(0, 153, 255));
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.461);
}

.result {
    margin-top: 5%;
    font-size: 2vw;
    display: flex;
    gap: 20px;
}

@media (min-width:800px) {
    h1 {
        font-size: 3vw;
    }

    input[type="radio"] {
        transform: scale(2);
        margin: 0 5px;
    }

    #box {
        height: 30vw;
    }
}